In [353]:
!pip install mglearn pandas numpy matplotlib cycler

1 - Leemos los datos del archivo .csv

In [354]:
import pandas as pd

clients_dataframe = pd.read_csv("resources/Cliente.csv")

##### PROCESADO DE DATOS #######

In [355]:
#print("Claves del dataset de clientes:\n", clients_dataframe.keys())

#Chequeamos los tipos de los datos
clients_dataframe.info()

#Chequeamos que tan unicos son los valores dentro de una columna ya que si son solo 1 los eliminamos
for col in clients_dataframe.columns:
    print(col, clients_dataframe[col].nunique(), len(clients_dataframe))

clients_dataframe.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 660.3+ KB

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [356]:
 # Borramos por que es unico para cada uno
#clients_dataframe.drop(['customerID'], axis=1, inplace=True)

In [357]:
#Obtenemos la proporcionalidad de las variables para ver si tenemos casos unicos (a limpiar) de nuestro espacio muestral
for var in clients_dataframe.columns:
    print(var, '\n', clients_dataframe[var].value_counts()/len(clients_dataframe))

customerID
 7590-VHVEG    0.000142
3791-LGQCY    0.000142
6008-NAIXK    0.000142
5956-YHHRX    0.000142
5365-LLFYV    0.000142
                ...
9796-MVYXX    0.000142
2637-FKFSY    0.000142
1552-AAGRX    0.000142
4304-TSPVK    0.000142
3186-AJIEK    0.000142
Name: customerID, Length: 7043, dtype: float64
gender
 Male      0.504756
Female    0.495244
Name: gender, dtype: float64
SeniorCitizen
 0    0.837853
1    0.162147
Name: SeniorCitizen, dtype: float64
Partner
 No     0.516967
Yes    0.483033
Name: Partner, dtype: float64
Dependents
 No     0.700412
Yes    0.299588
Name: Dependents, dtype: float64
tenure
 1     0.087037
72    0.051399
2     0.033792
3     0.028397
4     0.024989
        ...
28    0.008093
39    0.007951
44    0.007241
36    0.007099
0     0.001562
Name: tenure, Length: 73, dtype: float64
PhoneService
 Yes    0.903166
No     0.096834
Name: PhoneService, dtype: float64
MultipleLines
 No                  0.481329
Yes                 0.421837
No phone service    0.096834
Name: MultipleLines, dtype: float64
InternetService
 Fiber optic    0.439585
DSL            0.343746
No             0.216669
Name: InternetService, dtype: float64
OnlineSecurity
 No                     0.496663
Yes                    0.286668
No internet service    0.216669
Name: OnlineSecurity, dtype: float64
OnlineBackup
 No                     0.438450
Yes                    0.344881
No internet service    0.216669
Name: OnlineBackup, dtype: float64
DeviceProtection
 No                     0.439443
Yes                    0.343888
No internet service    0.216669
Name: DeviceProtection, dtype: float64
TechSupport
 No                     0.493114
Yes                    0.290217
No internet service    0.216669
Name: TechSupport, dtype: float64
StreamingTV
 No                     0.398978
Yes                    0.384353
No internet service    0.216669
Name: StreamingTV, dtype: float64
StreamingMovies
 No                     0.395428
Yes                    0.387903
No internet service    0.216669
Name: StreamingMovies, dtype: float64
Contract
 Month-to-month    0.550192
Two year          0.240664
One year          0.209144
Name: Contract, dtype: float64
PaperlessBilling
 Yes    0.592219
No     0.407781
Name: PaperlessBilling, dtype: float64
PaymentMethod
 Electronic check             0.335794
Mailed check                 0.228880
Bank transfer (automatic)    0.219225
Credit card (automatic)      0.216101
Name: PaymentMethod, dtype: float64
MonthlyCharges
 20.05     0.008661
19.85     0.006389
19.95     0.006247
19.90     0.006247
20.00     0.006105
            ...
23.65     0.000142
114.70    0.000142
43.65     0.000142
87.80     0.000142
78.70     0.000142
Name: MonthlyCharges, Length: 1585, dtype: float64
TotalCharges
           0.001562
20.2      0.001562
19.75     0.001278
20.05     0.001136
19.9      0.001136
            ...
6849.4    0.000142
692.35    0.000142
130.15    0.000142
3211.9    0.000142
6844.5    0.000142
Name: TotalCharges, Length: 6531, dtype: float64
Churn
 No     0.73463
Yes    0.26537
Name: Churn, dtype: float64

In [358]:
# Convertimos cada valor de cada columna a numerico

#Convertimos TotalCharges a float ya que es la suma de los monthly charfges
clients_dataframe['TotalCharges'] = pd.to_numeric(clients_dataframe['TotalCharges'], errors='coerce')

#Limpiamos los falores inifniitos y no infinitos por NaN
clients_dataframe['TotalCharges'].replace([np.inf, -np.inf], np.nan, inplace=True)

#Llenamos los valores NaN con la media para evitar no sumar al desvio
clients_dataframe.fillna(clients_dataframe['TotalCharges'].mean(), inplace=True)

import numpy as np
print("Valores NaN", np.any(np.isnan(clients_dataframe['TotalCharges'])))
print("Valores finitos", np.any(np.isfinite(clients_dataframe['TotalCharges'])))

#Borramos cualquier NaN restante
clients_dataframe.dropna()

Valores NaN False
Valores finitos True

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.50,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.90,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.60,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.50,No

2 - Queremos saber si el cliente se dio de baja o no (Es decir el atributo churm).  Por ende ese sera nuestro "y". Partiremos nuestro modelo en distintos sets de entrenamiento

In [359]:
from sklearn.model_selection import train_test_split

#Como el target value es churn, lo borramos del dataset X, y lo uhicamos como target value en Y
X = clients_dataframe.drop('Churn', axis=1)
Y = clients_dataframe['Churn']

Dividimos variables categoricas entre variables numericas

In [360]:

#Separamos features categoricas de las numericas para darles un tratamientod sitinto
features_categoricas = []
features_numericas = []
for key in X.keys():
    #Las features del tipo objeto, asumimos que son categoricas, el resto podemos decir que son numericas
    if X[key].dtype == object: 
        features_categoricas.append(key)
    else:
        features_numericas.append(key)

print("features numericas:", features_numericas)
print("features categoricas:", features_categoricas)

features numericas: ['SeniorCitizen', 'tenure', 'MonthlyCharges', 'TotalCharges']
features categoricas: ['customerID', 'gender', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod']

In [361]:
from sklearn.compose import make_column_selector as selector

#Utilizamos el selector de SKLEARN, los que son del tipo objeto, asumimos que son strings o variables categoricas
selector_columnas_numericas = selector(dtype_exclude=object)
selector_columnas_categoricas = selector(dtype_include=object)

#Ajustamos el sleectoer de columnas al dataset
columnas_numericas = selector_columnas_numericas(X)
columnas_categoricas = selector_columnas_categoricas(X)

In [362]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler

#Usamos onehotencoder ya que es el recomendado por sklearn y handle unknown ignore, para evitar valores no esperados
preprocesador_categorias = OneHotEncoder(handle_unknown="ignore")
#Usamos el standard scaler para escalar los datos numericos que tengamos
preprocesador_numerico = StandardScaler()

In [363]:
from sklearn.compose import ColumnTransformer

#Creamos el preprocesador para unir las columnas
preprocesador = ColumnTransformer([
    ('one-hot-encoder', preprocesador_categorias, columnas_categoricas),
    ('standard-scaler', preprocesador_numerico, columnas_numericas)])

In [364]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

print(X_train.shape)
print(X_test.shape)

(5634, 20)
(1409, 20)

3 - Probaremos distintos modelos para saber cual es el mejor

3 - A -

3 - B arbol de decisiones

In [365]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.pipeline import make_pipeline

modelo_arbol = make_pipeline(preprocesador, DecisionTreeClassifier(random_state=0))

modelo_arbol.fit(X_train, Y_train)
print("Accuracy del set de entrenamiento: {:.3f}".format(modelo_arbol.score(X_train, Y_train)))#
print("Accuracy del set de testeo: {:.3f}".format(modelo_arbol.score(X_test, Y_test)))

Accuracy on training set: 1.000
Accuracy on test set: 0.768

4 - Probaremos las tecnicas vistas en la ultima clase