In [1]:
!pip install mglearn pandas numpy matplotlib cycler

Collecting mglearn
  Using cached mglearn-0.1.9.tar.gz (540 kB)
Collecting pandas
  Downloading pandas-1.3.3-cp39-cp39-win_amd64.whl (10.2 MB)
Collecting numpy
  Downloading numpy-1.21.2-cp39-cp39-win_amd64.whl (14.0 MB)
Collecting matplotlib
  Downloading matplotlib-3.4.3-cp39-cp39-win_amd64.whl (7.1 MB)
Collecting cycler
  Using cached cycler-0.10.0-py2.py3-none-any.whl (6.5 kB)
Collecting scikit-learn
  Downloading scikit_learn-1.0-cp39-cp39-win_amd64.whl (7.2 MB)
Collecting pillow
  Downloading Pillow-8.3.2-cp39-cp39-win_amd64.whl (3.2 MB)
Collecting imageio
  Using cached imageio-2.9.0-py3-none-any.whl (3.3 MB)
Collecting joblib
  Using cached joblib-1.0.1-py3-none-any.whl (303 kB)
Collecting pytz>=2017.3
  Using cached pytz-2021.1-py2.py3-none-any.whl (510 kB)
Collecting python-dateutil>=2.7.3
  Using cached python_dateutil-2.8.2-py2.py3-none-any.whl (247 kB)
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.3.2-cp39-cp39-win_amd64.whl (52 kB)
Collecting pyparsing>=2.2.1
  Using cached pyparsing-2.4.7-py2.py3-none-any.whl (67 kB)
Collecting six
  Using cached six-1.16.0-py2.py3-none-any.whl (11 kB)
Collecting scipy>=1.1.0
  Downloading scipy-1.7.1-cp39-cp39-win_amd64.whl (33.8 MB)
Collecting threadpoolctl>=2.0.0
  Using cached threadpoolctl-2.2.0-py3-none-any.whl (12 kB)
Using legacy 'setup.py install' for mglearn, since package 'wheel' is not installed.
Installing collected packages: six, numpy, threadpoolctl, scipy, pytz, python-dateutil, pyparsing, pillow, kiwisolver, joblib, cycler, scikit-learn, pandas, matplotlib, imageio, mglearn
    Running setup.py install for mglearn: started
    Running setup.py install for mglearn: finished with status 'done'
Successfully installed cycler-0.10.0 imageio-2.9.0 joblib-1.0.1 kiwisolver-1.3.2 matplotlib-3.4.3 mglearn-0.1.9 numpy-1.21.2 pandas-1.3.3 pillow-8.3.2 pyparsing-2.4.7 python-dateutil-2.8.2 pytz-2021.1 scikit-learn-1.0 scipy-1.7.1 six-1.16.0 threadpoolctl-2.2.0

  WARNING: The script f2py.exe is installed in 'C:\Users\santiago\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  WARNING: The scripts imageio_download_bin.exe and imageio_remove_bin.exe are installed in 'C:\Users\santiago\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
WARNING: You are using pip version 21.2.3; however, version 21.2.4 is available.
You should consider upgrading via the 'C:\Users\santiago\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

1 - Leemos los datos del archivo .csv

In [5]:
import pandas as pd

clients_dataframe = pd.read_csv("resources/Cliente.csv")

Claves del dataset de clientes:
 Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

##### PROCESADO DE DATOS #######

In [19]:
print("Claves del dataset de clientes:\n", clients_dataframe.keys())

#Chequeamos los tipos de los datos
clients_dataframe.info()

#Chequeamos que tan unicos son los valores dentro de una columna ya que si son solo 1 los eliminamos
for col in clients_dataframe.columns:
    print(col, clients_dataframe[col].nunique(), len(clients_dataframe))

clients_dataframe.head()

Claves del dataset de clientes:
 Index(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod',
       'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
 14  Contract          7043 non-null   object
 15  PaperlessBilling  7043 non-null   object
 16  PaymentMethod     7043 non-null   object
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7043 non-null   object
 19  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(17)
memory usage: 632.8+ KB
gender 2 7043
SeniorCitizen 2 7043
Partner 2 7043
Dependents 2 7043
tenure 73 7043
PhoneService 2 7043
MultipleLines 3 7043
InternetService 3 7043
OnlineSecurity 3 7043
OnlineBackup 3 7043
DeviceProtection 3 7043
TechSupport 3 7043
StreamingTV 3 7043
StreamingMovies 3 7043
Contract 3 7043
PaperlessBilling 2 7043
PaymentMethod 4 7043
MonthlyCharges 1585 7043
TotalCharges 6531 7043
Churn 2 7043

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [8]:
 # Borramos por que es unico para cada uno
clients_dataframe.drop(['customerID'], axis=1, inplace=True)

In [20]:
#Obtenemos la proporcionalidad de las variables para ver si tenemos casos unicos (a limpiar) de nuestro espacio muestral
for var in clients_dataframe.columns:
    print(var, '\n', clients_dataframe[var].value_counts()/len(clients_dataframe))

gender
 Male      0.504756
Female    0.495244
Name: gender, dtype: float64
SeniorCitizen
 0    0.837853
1    0.162147
Name: SeniorCitizen, dtype: float64
Partner
 No     0.516967
Yes    0.483033
Name: Partner, dtype: float64
Dependents
 No     0.700412
Yes    0.299588
Name: Dependents, dtype: float64
tenure
 1     0.087037
72    0.051399
2     0.033792
3     0.028397
4     0.024989
        ...
28    0.008093
39    0.007951
44    0.007241
36    0.007099
0     0.001562
Name: tenure, Length: 73, dtype: float64
PhoneService
 Yes    0.903166
No     0.096834
Name: PhoneService, dtype: float64
MultipleLines
 No                  0.481329
Yes                 0.421837
No phone service    0.096834
Name: MultipleLines, dtype: float64
InternetService
 Fiber optic    0.439585
DSL            0.343746
No             0.216669
Name: InternetService, dtype: float64
OnlineSecurity
 No                     0.496663
Yes                    0.286668
No internet service    0.216669
Name: OnlineSecurity, dtype: float64
OnlineBackup
 No                     0.438450
Yes                    0.344881
No internet service    0.216669
Name: OnlineBackup, dtype: float64
DeviceProtection
 No                     0.439443
Yes                    0.343888
No internet service    0.216669
Name: DeviceProtection, dtype: float64
TechSupport
 No                     0.493114
Yes                    0.290217
No internet service    0.216669
Name: TechSupport, dtype: float64
StreamingTV
 No                     0.398978
Yes                    0.384353
No internet service    0.216669
Name: StreamingTV, dtype: float64
StreamingMovies
 No                     0.395428
Yes                    0.387903
No internet service    0.216669
Name: StreamingMovies, dtype: float64
Contract
 Month-to-month    0.550192
Two year          0.240664
One year          0.209144
Name: Contract, dtype: float64
PaperlessBilling
 Yes    0.592219
No     0.407781
Name: PaperlessBilling, dtype: float64
PaymentMethod
 Electronic check             0.335794
Mailed check                 0.228880
Bank transfer (automatic)    0.219225
Credit card (automatic)      0.216101
Name: PaymentMethod, dtype: float64
MonthlyCharges
 20.05     0.008661
19.85     0.006389
19.95     0.006247
19.90     0.006247
20.00     0.006105
            ...
23.65     0.000142
114.70    0.000142
43.65     0.000142
87.80     0.000142
78.70     0.000142
Name: MonthlyCharges, Length: 1585, dtype: float64
TotalCharges
           0.001562
20.2      0.001562
19.75     0.001278
20.05     0.001136
19.9      0.001136
            ...
6849.4    0.000142
692.35    0.000142
130.15    0.000142
3211.9    0.000142
6844.5    0.000142
Name: TotalCharges, Length: 6531, dtype: float64
Churn
 No     0.73463
Yes    0.26537
Name: Churn, dtype: float64

In [53]:
# Convertimos cada valor de cada columna a numerico
# REVEEEEEER Hay que limpiar valores nulos, y demases

#Convertimos TotalCharges a float ya que es la suma de los monthly charfges
clients_dataframe['TotalCharges'] = pd.to_numeric(clients_dataframe['TotalCharges'],errors='coerce')

#Seleccionamos todas los tipos de datos categoricos y los convertimos, obtenemos sus valores y los reescribimos
cat_columns = clients_dataframe.select_dtypes(['category']).columns
clients_dataframe[cat_columns] = clients_dataframe[cat_columns].apply(lambda x: x.cat.codes)

2 - Queremos saber si el cliente se dio de baja o no (Es decir el atributo churm).  Por ende ese sera nuestro "y". Partiremos nuestro modelo en distintos sets de entrenamiento

In [54]:
from sklearn.model_selection import train_test_split

X = clients_dataframe.drop('Churn', axis=1)
y = clients_dataframe['Churn']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print(X_train.shape)
print(X_test.shape)

(5634, 19)
(1409, 19)

3 - Probaremos distintos modelos para saber cual es el mejor

3 - A -

In [55]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler.fit(X_train)

MinMaxScaler()

In [ ]:
3 - B arbol de decisiones

In [56]:
from sklearn.tree import DecisionTreeClassifier

tree = DecisionTreeClassifier(random_state=0)
tree.fit(X_train, y_train)
print("Accuracy on training set: {:.3f}".format(tree.score(X_train, y_train)))
print("Accuracy on test set: {:.3f}".format(tree.score(X_test, y_test)))

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

4 - Probaremos las tecnicas vistas en la ultima clase